<web-app id="AES" version="2.4">
    <servlet>
	    <servlet-name>NotificationBroker</servlet-name>
	    <servlet-class>net.robinjam.aes.wsn.NotificationBroker</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>NotificationBroker</servlet-name>
	    <url-pattern>/NotificationBroker</url-pattern>
	</servlet-mapping>
</web-app>